.class {margin: 0 auto}

  .class span {font-size: 13px}
  .class table {font-size: 13px}

  .class.wrapper {
    max-width: 600px;
        width: 100%;
  }
  
  .class.preview {
    display: inline-block;
    position: relative;
    margin: 3px;
    height: 36px;
    width: calc(100% - 52px);
    border: 1px solid #A9A9A9;
    overflow: hidden;
    cursor: pointer;
  }
    
    .class.preview > span {
      display: inline-block;
      line-height: 35px;
    }
    
    .class.preview > span:nth-child(1) {
      width: 35px;
      font-size: 20px;
      text-align: center;
    }
    
    .class.preview > span:nth-child(2) {position:absolute}
      
      .class.preview > span:nth-child(2) > i {
        display: inline-block;
        margin: 0 10px;
        padding: 0 10px;
        background: #F7DB8E;
      }
    
    .class.preview > span:nth-child(3) {
      position: absolute;
      right: 0;
      width: 100px;
      text-align: center;
    }
    
    .class.preview.open > span:nth-child(3) {color:#4CA454; background:#B8DBBB}
    .class.preview.closed > span:nth-child(3) {color:#BE4C39; background:#E5B8B1}
  
  .class.fav {
    display: inline-block;
    margin: 3px;
    height: 36px;
    width: 36px;
    background: #F7F7F7;
    border: 1px solid #E4E4E4;
    overflow: hidden;
    cursor: pointer;
  }
    .class.fav:hover {border-color: #A9A9A9}
    .class.fav:hover > span {color: #000}
    
    .class.fav > span {
      display: block;
      color: #777;
      font-size: 20px;
      line-height: 35px;
      text-align: center;
    }
    
  .class.fav.active {
    background: #FFF;
    border: 1px solid #F0B310;
  }
    
    .class.fav.active > span {color:#F0B310}
  
  .class.data {
    display: none;
    margin: 3px;
    width: calc(100% - 8px);
    height: calc(100% - 52px);
    background: #F7F7F7;
    border: 1px solid #E4E4E4;
  }
  
    .class.data table {border-spacing:0; width:100%}
      
      .class.data tr {}
        
        .class.data th,
        .class.data td {
          padding: 10px;
          border-top: 1px solid #FFF;
          border-bottom: 1px solid #E4E4E4;
        }
        
        .class.data tr:last-child th,
        .class.data tr:last-child td {border-bottom: none}
        
        .class.data th {border-right:1px solid #FFF}
        .class.data td {border-left:1px solid #E4E4E4}
        
      .class.data tr {
        border-left: 1px solid #F0B310;
        border-right: 1px solid #F0B310;
      }
        .class.lab th,
        .class.lab td {
          background: #F7DB8E;
          border-top: 1px solid #FFF5DD;
          border-bottom: 1px solid #F0B310;
        }
        
        .class.lab th {border-right:1px solid #FFF5DD}
        .class.lab td {border-left:1px solid #F0B310}

/*------------------------------
          DESKTOP VIEW
------------------------------*/

#desktop {margin:0 5px}
  
  #desktop table {
    margin: 0 auto;
    font-size: 11px;
    text-align: center;
    background: #F7F7F7;
    border-spacing: 0;
    border: 1px solid #A9A9A9;
  }

  #desktop tr {}
      
    #desktop tr th,
    #desktop tr td {
      padding: 5px;
      border-top: 1px solid #A9A9A9;
      border-bottom: 1px solid #E4E4E4;
    }
    
  #desktop tr:last-child th,
  #desktop tr:last-child td {border-bottom: none}
    
    #desktop tr td {
      border-top: 1px solid #FFF;
      border-left: 1px solid #E4E4E4;
      border-right: 1px solid #FFF;
    }
    #desktop tr td:first-child {border-left:none}
    #desktop tr td:last-child {border-right:none}
    
    #desktop tr td.open {
      color: #4CA454;
      background: #B8DBBB;
      border: 1px solid #4CA454;
      border-top: 1px solid #FFF;
    }
    
    #desktop tr.closed td {
      color: #BE4C39;
      background: #E5B8B1;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #BE4C39;
      border-left: 1px solid #BE4C39;
      border-right: 1px solid #fff;
    }
    #desktop tr.closed td:first-child {border-left:none}
    #desktop tr.closed td:last-child {border-right:none}
    
  #desktop tr:first-child {}
    
    #desktop tr:first-child th {
      background: #FFF;
      border-right: 1px solid #FFF;
      border-left: 1px dashed #A9A9A9;
      border-bottom: 1px solid #A9A9A9;
    }
    #desktop tr:first-child th:first-child {border-left:none}
    #desktop tr:first-child th:last-child {border-right:none}
    
  
  #desktop tr.lab {}
    
    #desktop tr.lab td {
      background: #F7DB8E;
      border-top: 1px solid #F0B310;
      border-bottom: 1px solid #F0B310;
      border-left: 1px solid #F0B310;
      border-right: 1px solid #FFF5DD;
    }
    #desktop tr.lab td:first-child {border-left:none}
    #desktop tr.lab td:last-child {border-right:none}

/*------------------------------
             PRINT
------------------------------*/
@media print {
  #class_search,
  #master_search,
  #fav_search,
  #error,
  #success {display:none}
  
  .class.data {display:block}
}

span.tip
{
	display: none !important; 
	z-index: 100;
	position: absolute;
	padding: .6em;
	padding-left: 1em;
	top: 1.5em;
	left: 2.4em;
	width: 10em;
	background-color: [template("page background color")];
	border: 1px solid [template("base font color")];
	border-radius: 0.5em;
}

.fav:hover > span.tip
{
	display: inline-block !important;
}



